@font-face {
  font-family: medici-text;
  src: url(../landing-page/fonts/medici-text.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.container {
  background-color: #76525c;
}

.card {
  background-color: transparent;
}
.card-horizontal {
  flex-direction: row;
}

h1, h2, h3, h4, h5, p, label {
  color: #eddcb0;
}
.card-title{
  font-family: medici-text;
  text-align: center;
}
h1 {
  font-family: medici-text;
  font-size: 100px;
  text-align: center;
}
.howTo{
  font-size: 30px;
  font-family: sans-serif;
  color: #eddcb0;
}
.bachimg{
  margin: 15px;
  padding: auto;
}
.card-body h5 {
  font-family: medici-text;
}

.bach{
  width: 250px;
  outline-color: white;
  outline: 5px;
}

#circle-of-fifths {
  text-align: center;
}

.btns{
  margin-left: 50px;
}

.radio-inline {
  margin-right: 25px;
}

label.radio-inline {
  padding-top: 5px;
}

input {
  margin-right: 7px;
}
/*text animation*/

