body{
  background-color: #76525c;
}
/* PianoDarkTheme */

.PianoDarkTheme .ReactPiano__Key--accidental {
  background: #025d7d;
  border: 1px solid #888;
}
.PianoDarkTheme .ReactPiano__Key--natural {
  background: #013243;
  border: 1px solid #888;
  margin-right: 0;
}
.PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--accidental {
  background: #0396ca;
}
.PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--natural {
  background: #0396ca;
}
.wrapper{
  margin: 50px;
  margin-top: 25px;
  background-color: black;
}
.charts{
  display: block;
  height: 350px;
  margin: auto;
  padding: 15px;
}

#infoBox {
  display: block;
  margin: 15px;
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
}
.buttons{
  margin-right: 10px;
  /* margin-top: 50px; */
}
.dropdown1 {
  width: 100px;
  margin-left: 50px;
}

.dropdown2 {
  width: 300px;
}

.drop1container {
  z-index: 9999;
}

.drop2container {
  z-index: 9998;
}

.toastbox {
  position: absolute;
  z-index: 10000;
  top: -70px;
  right: -150px;
}

.titlebox, .bodybox {
  padding-right: 25px;
}